

  <div id="loading">
    <img src="assets/loading.svg" alt="Loading spinner">
  </div>
  <h1>{{title}}</h1>
  <div class="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Auth0 - JavaScript</a>

          <button id="btn-home-view" class="btn btn-primary btn-margin">
              Home
          </button>

          <!--Hide this if logged in-->
          <button id="qsLoginBtn" class="btn btn-primary btn-margin">
              Log In
          </button>

          <!--Hide this if not logged in-->
          <button id="qsLogoutBtn" class="btn btn-primary btn-margin">
              Log Out
          </button>

        </div>
      </div>
    </nav>

    <main class="container">
      <!-- home view -->
      <div id="home-view">
        <h4></h4>
      </div>

    </main>

  </div>

  <!--JavaScript-->
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script src="javascripts/auth0.js"></script>
